@import "~bulma/bulma.sass";


.HomePage {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  .background-img {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .cf {
    height: auto;
    width: auto;
    margin: 10px;
    opacity: 0.9;
    animation: 3s ease 0s 1 AlbumEnter2;

    @media (max-width: 500px) {
      height: 55px;
      width: 55px;
    }
  }

  @keyframes AlbumEnter2 {
    0% {
      transform: translateX(-100%) scale(0.3) rotate(-90deg) scaleX(0);
      box-shadow: none;
      filter: opacity(0);
      filter: grayscale(10);
    }
    60% {
      transform: translateX(0) scale(1) rotate(0deg);
      box-shadow: none;
      filter: opacity(0.6);
      filter: grayscale(6);
    }
    80% {
      transform: scale(1.05);
      box-shadow: 3px 3px 3px white;
      filter: opacity(1);
      filter: grayscale(0);
    }
    100% {
      transform: scale(1);
      box-shadow: none;
      filter: opacity(1);
    }
  }

  input:focus,
  select:focus,
  .form-control:focus,
  textarea:focus,
  button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .search-bar {
    align-self: center;
    font-family: "Overpass Mono", monospace;
    font-size: 1em;

    h1 {
      color: white;
      text-align: center;
      margin: 10px 0px;
      font-weight: 800;
      font-size: 4em;

      @media (max-width: 500px) {
        font-size: 2em;
      }
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;

      .field {
        margin-bottom: 3em;
      }

      input {
        width: 30em;
        font-family: "Overpass Mono", monospace;
        border: 1px solid rgba(0, 0, 0, 0.239);
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        @media (max-width: 500px) {
          width: 70vw;
          font-size: 11px;
        }
      }

      select {
        margin-left: 15px;
        font-family: "Overpass Mono", monospace;
        border: none;
        background-color: transparent;
        text-align: center;
        color: black;
      }
    }
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.music-index {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  .back-emoji {
    width: 50px;
  }
}

.MusicShow {
  height: 92.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .delete-button {
    text-align: center;

    @media (max-width: 800px) {
      text-align: right;
    }
  }

  .image-show {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: auto;
      margin-right: 20px;
    }

    @media (max-width: 500px) {
      .title,
      .subtitle {
        color: white;
      }
    }
  }

  .details {
    margin-top: 20px;
  }

  .apple-music {
    display: flex;
    align-items: center;
    margin-left: -10px;
    p {
      color: white;
    }
  }

  @media (max-width: 800px) {
    padding: 50px;
  }
}

.is-center {
  margin: 5px auto;
}

.not-hidden {
  height: 100vh;
}

.hidden {
  right: -500px;
  display: none;
}

.show {
  right: -500px;
}

.skew {
  transform: rotateY(55deg) skew(-13deg) scale(0.95);
  box-shadow: 4px 10px 36px -2px rgb(241, 240, 169);

  @media (max-width: 800px) {
    display: none;
  }
}

.artworks {
  display: flex;
  flex-wrap: wrap;
}

.animateIndex {
  transition: all 0.6s ease-in;
  height: 95vh;
  overflow: scroll;
}

.card-styling {
  transition: all 0.4s;
  animation: 2.5s ease 0s 1 AlbumEnter;
}

.card-styling:hover {
  transform: scale(1.1);
  box-shadow: 2px 3px 25px white;
  cursor: pointer;
}

.navbar {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  font-family: "Overpass Mono", monospace;
  .center-nav {
    width: 50vw;
    margin: 10px 25vw;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    border-radius: 3px;
  }
}

.slidingAnimation {
  animation: slide 1s ease;
  animation-fill-mode: forwards;
  background-image: linear-gradient(
    to right,
    rgba(247, 247, 247, 0),
    rgb(10, 10, 9)
  );
  right: -400px;
}

@-webkit-keyframes slide {
  100% {
    right: 0px;
  }
}

@keyframes slide {
  100% {
    right: 0px;
  }
}

.slidingBackAnimation {
  animation: slideBack 1s ease;
  animation-fill-mode: forwards;
  background-image: linear-gradient(
    to right,
    rgba(247, 247, 247, 0),
    rgb(10, 10, 9)
  );
  right: 0px;
}

@-webkit-keyframes slideBack {
  100% {
    right: -1000px;
  }
}

@keyframes slideBack {
  100% {
    right: -1000px;
  }
}

.box-shadow {
  transform: scale(1.1);
  box-shadow: 2px 3px 25px white;
}

@keyframes AlbumEnter {
  0% {
    transform: translateX(-100%) scale(0.3) rotate(-90deg) scaleX(0);
    box-shadow: none;
    filter: opacity(0);
  }
  60% {
    transform: translateX(0) scale(1) rotate(0deg);
    box-shadow: none;
    filter: opacity(0.6);
  }
  80% {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px white;
    filter: opacity(1);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
    filter: opacity(1);
  }
}

.flash {
  box-shadow: -5px -5px 15px white;
  transform: scale(1.05);
}
